---
version: 2.1
jobs:
  build:
    docker:
      - image: cibuilds/hugo:latest
    working_directory: ~/glennmeyer.dev
    steps:
      - add_ssh_keys:
          fingerprints:
            - "07:46:12:6e:fe:2c:ce:41:2e:8a:05:84:cf:d2:05:61"
      - checkout
      - run:
          name: Clone repo
          working_directory: ~/
          command: git clone -b master git@github.com:grossmeyer/glennmeyer.dev public
      - run:
          name: Build site
          working_directory: ~/glennmeyer.dev
          command: HUGO_ENV=production hugo -d ~/public
      # - run:
      #     name: Test build output
      #     command: htmlproofer ~/public --allow-hash-href --check-html --empty-alt-ignore --disable-external
      - deploy:
          name: Deploy to netlify
          working_directory: ~/public
          command: curl -X POST -d {} https://api.netlify.com/build_hooks/$NETLIFY_WEBHOOK

workflows:
  main:
    jobs:
    - build:
        filters:
          branches:
            only: master
...